:root {
  --padding-10: 10px;
  --border-color: #333;
  --white-color: #fff;
}

main {
  max-width: 900px;
}

nav {
  background-color: darkblue;
  padding: var(--padding-10);
}

nav a {
  color: var(--white-color);
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  box-shadow: 0 0 30px gray;
  padding: var(--padding-10);
}

p {
  padding: 0;
}

aside {
  width: 300px;
  border: 1px solid var(--border-color);
  padding: var(--padding-10);
  background-color: #009739;
  color: var(--white-color);
  margin: var(--padding-10) 0;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: var(--padding-10);
  border-top: 1px solid var(--border-color);
  text-align: center;
}